body{
	font-family: 'Source Sans Pro';
	font-size: 25px;
	color: white;
	line-height: 35px;
	margin: 0;
	}

header{
	padding-left: 200px;
	padding-top: 30px;
	padding-bottom: 70px;
	margin: 0;
	}	

	header h1{
		color: white;
		font-size: 70px;
		}
	header img{
		border-radius: 500px;
	    width: 450px;
	  	border: 15px solid white;
		}
	h1{font-family: 'Fredericka the Great', cursive;}

	h2{	
		font-family: 'Fredericka the Great', cursive;
		font-size: 50px;
		max-width: 800px;
		min-width: 300px;
		margin-left: 15px;
		}
main{
	width:auto;
	height: auto;
  	margin: 0 auto;
	text-align: justify-all;}


.container_H01par{
	min-height: 500px; 
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;}
.container_F01{
	width: auto;
  	height: auto;
  	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 160px;
	padding-right: 150px;}

a:link{color:green;}
a:visited{color: purple;}
a:hover{background-color: red;}

.container_01{
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: -50px;}
.container_01_text{

	background-size: contain;
	margin:0;
	padding: 10px 55px 10px 65px;}
.spazio_1{
	height: 100vh;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-size: cover;
	background-position: center;}
.spazio_2{
	height: 100vh;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-size: cover;
	background-position: center;}

.polaroid_cibo1{
	display: flex;
	text-align: center;}

.pol_1 {
  	width: 80%;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px}

.container_poltxt{
	position: center;}

.pol_1 img {
    height: auto;
    width: 250px;
    margin: 25px;

    color:green;
    border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;}

